<header>
    <div class="header-content" id="#header">
        <div class="header-content-inner">
        	<div class="row">
	        	<div class="col-xs-12 col-sm-1 col-md-1 col-lg-1 col-xl-1 text-center"></div>
	            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 col-xl-5 text-center" style="padding-bottom:10px">
					<img src="img/portfolio/emily.jpg" class="img-responsive wow" alt="" style="width:100%; display:initial;border-radius:50%">
	            </div>
	        	<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 col-xl-5 text-center" style="padding-top: 75px;">
		        	<img src="img/portfolio/EMUCATIONLOGO.png" class="img-responsive wow" alt="" style="width:100%; display:initial">
		            <hr>
		            <p style="margin-bottom:0px">Emily Rees is running to become the next Swansea University Students' Union Education Officer!</p>
                    <p style="color: yellow !important">Dwi'n rhedeg i fod y Swyddog Addysg nesaf dros Undeb Myfyrwyr Prifysgol Abertawe!</p>
            	</div>
            	<div class="col-xs-12 col-sm-1 col-md-1 col-lg-1 col-xl-1 text-center"></div>
            </div>
            <br>
            <div class="row">
            	<div class="col-xs-12 col-sm-3 col-md-4 col-lg-4 col-xl-4 text-center"></div>
            	<div class="col-xs-12 col-sm-3 col-md-2 col-lg-2 col-xl-2 text-center" style="padding-bottom:20px">
            		<a href="#hero-banner-manifesto" class="btn btn-primary btn-xl page-scroll" style="width:150px">Manifesto</a>
            	</div>
            	<div class="col-xs-12 col-sm-3 col-md-2 col-lg-2 col-xl-2 text-center" style="padding-bottom:20px">
            		<a href="#vote" class="btn btn-primary btn-xl page-scroll vote-button-header" style="background-color:#FFFF66">Vote!</a>
            	</div>
            	<div class="col-xs-12 col-sm-3 col-md-4 col-lg-4 col-xl-4 text-center"></div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-3 col-md-4 col-lg-4 col-xl-4 text-center"></div>
                <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2 col-xl-2 text-center" style="padding-bottom:20px">
                    <a href="#hero-banner-manifesto-welsh" class="btn btn-primary btn-xl page-scroll" style="background-color: #E6E6DC; width:150px; color: black">Maniffesto</a>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2 col-xl-2 text-center">
                    <a href="#vote" class="btn btn-primary btn-xl page-scroll vote-button-header" style="background-color: #00628B; color:white; width:175px">Pleidleisiwch!</a>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-4 col-lg-4 col-xl-4 text-center"></div>
            </div>
        </div>
    </div>
</header>
