<header>
    <div class="header-content" id="#header">
        <div class="header-content-inner">
	        <img src="img/portfolio/EMUCATIONLOGO.png" class="img-responsive wow" alt="" style="width:700px; display:initial">
            <hr>
            <p>Emily Rees is running to be your next Swansea University Education Officer!</p>
            <a href="#manifesto" class="btn btn-primary btn-xl page-scroll" style="width:150px">Manifesto</a>
            <a href="#vote" class="btn btn-primary btn-xl page-scroll" style="width:150px">Vote</a>
        </div>
    </div>
</header>
