<section class="bg-dark" id="manifesto">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Manifesto</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <img src="img/portfolio/coming-soon.png" class="img-responsive wow" alt="" style="width:700px; display:initial">
                <div class="col-lg-12 text-center" style="padding-top:30px">
                    <p>We're not allowed to publish our Maniesto until Monday the 13th March! Come back here then!</p>
                </div>
            </div>
        </div>
    </div>
    
</section>
