<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  {% include nav.html %}
  {% include header.html %}
  {% include yellow-banner.html %}
  {% include upcoming.html %}
  {% include yellow-banner.html %}
  {% include emucation-banner.html %}
  {% include videos.html %}
  {% include yellow-banner.html %}
  {% include manifesto-soon.html %}
  {% include yellow-banner.html %}
  {% include aside.html %}
  {% include vote.html %}
  {% include scripts.html %}
</body>

</html>